body {
    background-color: #fff; 
    line-height: 1.7;
}
hr {
    border: 2px solid $color-light-gray;
}

.colorscheme-dark hr {
    border-color: $color-inverted-light-gray;
}

img {
    image-rendering: -webkit-optimize-contrast;
}