body {
    background-color: #fff; 
    line-height: 1.7;
    overflow-x: hidden;
}
hr {
    border: 2px solid $color-light-gray;
}

.colorscheme-dark hr {
    border-color: $color-inverted-light-gray;
}

img {
    image-rendering: -webkit-optimize-contrast;
}

a:hover > sub {
    text-decoration: none !important;
    display: inline-block;
}

article :not(.item) > a[target="_blank"]:not(.kofi-button, .button)::after {
    font-family: 'ForkAwesome';
    content: "\f08e";
    color: $color-dark-gray;
    padding: 0.5rem;
    line-height: normal;
    display: inline-block;
}
article :not(.item) > a[target="_blank"]:not(.kofi-button, .button):hover::after {
    text-decoration: none !important;
    display: inline-block;
}

article footer {
    border-top: 3px solid $color-light-gray;    
    padding-top: 4rem;
}

code {
    background-color: #eee;
}