body {
    background-color: #fff; 
    line-height: 1.7;
    overflow-x: hidden;
}
hr {
    border: 2px solid $color-light-gray;
}

.colorscheme-dark hr {
    border-color: $color-inverted-light-gray;
}

img {
    image-rendering: -webkit-optimize-contrast;
}

a:hover > sub {
    text-decoration: none !important;
    display: inline-block;
}

footer {
    border-top: 3px solid $color-light-gray;    
    padding-top: 4rem;
}