$color-green: #00946a;
$color-blue: #7d7bfa;
$color-orcid: #a6ce39;
$color-orange: #ff771c;
$color-dark-gray: #aaa;
$color-gray: #eee;
$color-light-gray: #f5f5f5;
$color-inverted-light-gray: #333;
$color-black: #000;
$color-twitter: #00acee;